li {
    padding: 5px 9px;
    font-weight: 500;
}

li:hover {
    background-color: #1d4ed8;
    border-radius: 10px;
    color: #fff;
}

button:hover {
    background-color: #1d4ed8;
    color: #fff;
}

@media(max-width:450px) {
    // navbar 
    .navbar {
        flex-wrap: wrap;
        position: relative;
        .navlink {
            position: absolute;
            flex-direction: column;
            background-color: ;
        }
    }
    // contact
    .contactpage {
        h2 {
            font-size: 1.8rem;
        }
        .contact {
            padding: 0 2rem;
            img {
                height: 90%;
            }
        }
    }
    //  about
    .aboutpage {
        .about {
            padding: 1.5rem 1rem 0;
            flex-wrap: wrap-reverse;
        }
    }
    // productpage
    .navproduct {
        padding: 1.5rem 1rem 0;
        font-size: 1.8rem;
    }
    .productpage {
        padding: 1.5rem 1rem 0;
    }
}