.navdestop {
    display: flex;
    gap: 5;
}

li {
    font-weight: 500;
    margin-left: 2rem;
    padding: 5px 9px;
     :hover {
        background-color: #1d4ed8;
        border-radius: 10px;
        color: #fff;
        padding: 5px 9px;
    }
}

button:hover {
    background-color: #1d4ed8;
    color: #fff;
}

// mobile
.menu {
    display: none;
    font-size: 2rem;
    z-index: 2;
}

@media(max-width: 500px) {
    // navbar 
    .menu {
        display: block;
    }
    .navdestop {
        display: none;
    }
    .navbar {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 5px 5px 5px rgb(203 213 225);
        .navheader {
            justify-content: space-between;
        }
        .navlink {
            margin-top: 1rem;
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: space-evenly;
            top: 1rem;
            left: 0;
            width: 10rem;
            height: 30vh;
            background-color: rgb(96 165 250);
            align-items: center;
            border-radius: 15px;
            // z-index: -1;
        }
    }
    // home dasboard 
    .dasboard {
        flex-wrap: wrap-reverse;
        .hometext {
            margin: 0 4rem;
            .hometexth1 {
                font-size: 3rem;
            }
            .hometexth2 {
                font-size: 2.5rem;
            }
        }
        .img-gambar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                object-position: center;
                margin: 4rem 0 0rem;
                border-radius: 5px;
            }
        }
    }
    // product
    .productpage {
        margin: 1.5rem 1rem 0;
        .productpage2 {
            margin: 0 1rem 0;
        }
    }
    .navproduct {
        margin-top: 5rem;
        .navproducth2 {
            font-size: 1.7rem;
        }
        input {
            margin: 0 4rem;
        }
    }
    // contact 
    .contactpage {
        h2 {
            font-size: 1.8rem;
        }
        .contact {
            padding: 0 2rem;
            img {
                height: 90%;
            }
        }
    }
    //  about
    .aboutpage {
        .about {
            margin-top: 1rem;
            margin: 1.5rem 1rem 0;
            flex-wrap: wrap-reverse;
            gap: 2;
        }
    }
}